@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}
a.sidebar-link.active{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}
.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.footer{
    display: none;
}
.category-description{
    max-width: 100px !important;
    overflow: auto !important;
    height: 80px;

}
.category-description >span{
    display: block;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
   
}
.btn-submit > button{
    width: calc(20%);
}
@media (min-width: 768px) {
    .footer{
        display: block;
    }
    .pagin{width: 95%; padding : 10px 0 !important;
    margin: 0 auto;}
    .table tr > th{
        vertical-align: middle;
    }
    .table{
        width: 95%;
        margin: 0 auto;
    }
}
textarea{
    width: calc(100%);
}
@media(max-width: 556px){
    .table tr th,
    nav a ,
    nav li{
    
        font-size: 12px !important;
    }
    table button{
        color: #FFF;
        font-size: 12px !important;
    }
    .table tr > th{
        vertical-align: middle;
    }
    .btn-submit {
        text-align: center !important;
    }
    .btn-submit > button{
        width: calc(50%);
    }
}
.show-cokor{
    margin: 0 auto;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    
}
.popover-hover ul {
    margin: 0;
}
.popover-hover{
    opacity: 0;
    position: absolute;
    top: -16px;
    right: 30px;
    box-shadow: 0 0 5px rgb(186, 168, 168);
    border-radius: 12px;
    transition: 0.25s linear;
    left: calc(50% + 28px);
    z-index: 12;
    width: calc(100% - 186px);
 
}
.popover-hover.active{
    opacity: 1;
    
}
div[data-id="d094"]{
    display: block !important;
}
