<div class="breadcrump">
    <div class="container">
        <div class="breadcrump-list">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Trang chủ</li>
                  <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                </ol>
              </nav>
        </div>
    </div>
</div>
<main >
    <div class="container">
       <div style="margin: 0 -15px;" class="row">
           <div class="col-md-3 padding-0-15">
               <div class="introduct_image">
                   <img src="./img/slider/page_banner.webp" alt="">
               </div>
           </div>
           <div class="col-md-9 padding-0-15">
               <div class="introduct-wrapper">
                   <div class="header-page">
                       <h1 style=".heading-page h1 {
                           font-size: 30px;
                           font-weight: 700;
                           margin-bottom: 30px;
                       }">Giới thiệu</h1>
                   </div>
                   <div class="wrapbox-content-page">
                       <div class="content-page ">
                           <p>Chúng tôi tự hào là điểm đến hàng đầu cho những đôi giày phong cách và chất lượng cao. Với sứ mệnh mang lại sự thoải mái và tự tin cho khách hàng, chúng tôi không ngừng cập nhật và đa dạng hóa các sản phẩm để đáp ứng mọi nhu cầu của bạn.</p>
                           <div>
                               <ul>
                                   <li><strong>Sự Lựa Chọn Đa Dạng</strong>: Tại Shop Giày của chúng tôi, bạn sẽ tìm thấy một bộ sưu tập đa dạng của các loại giày cho cả nam và nữ. Từ giày thể thao thoải mái đến giày công sở thanh lịch, từ giày sneaker phong cách đến những đôi boots mạnh mẽ - chúng tôi đều có.</li>
                                   <li><strong>Chất Lượng Đảm Bảo:</strong> Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng nhất từ các thương hiệu uy tín và đáng tin cậy. Mỗi đôi giày đều được chọn lựa kỹ lưỡng với tiêu chuẩn cao nhất để đảm bảo sự thoải mái và độ bền.</li>
                                   <li><strong>Dịch Vụ Tận Tâm:</strong> Sự hài lòng của khách hàng luôn là ưu tiên hàng đầu của chúng tôi. Đội ngũ nhân viên của chúng tôi sẵn lòng hỗ trợ bạn trong việc chọn lựa sản phẩm phù hợp và giải đáp mọi thắc mắc.</li>
                                   
                               </ul>
                           </div>
                           <h4>Chính sách đổi trả</h4>
                           <div class=>
                               <ul>
                                   <li>Chúng tôi cam kết giao hàng nhanh chóng và đảm bảo an toàn cho sản phẩm của bạn. Dịch vụ giao hàng tiện lợi và linh hoạt để đáp ứng mọi nhu cầu của bạn.</li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div> 
           </div>
       </div>
       
    </div>
   <section class="section-product section">
       <div class="container-fluid">
           <div class="section-product_top text-center">
               <p class="section-product_title">Khách hàng và Runner In</p>
      </div>
      <div class="row">
          <div class="col-md-2 p-0-2">
              <a href="">
                  <img src="./img/gallery_item_1.webp" alt="">
              </a>
          </div>
          <div class="col-md-2 p-0-2">
           <a href="">
               <img src="./img/gallery_item_2.webp" alt="">
           </a>
          </div>
          <div class="col-md-2 p-0-2">
           <img src="./img/gallery_item_3.jpg" alt="">
          </div>
          <div class="col-md-2 p-0-2">
           <img src="./img/gallery_item_4.webp" alt="">
          </div>
          <div class="col-md-2 p-0-2">
           <img src="./img/gallery_item_5.webp" alt="">
          </div>
          <div class="col-md-2 p-0-2">
           <img src="./img/gallery_item_6.jpg" alt="">
          </div>
      </div>
       </div>
           
   </section>
  </main>